* {
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: center;
}
html { 
	overflow-y: scroll; 
}
body { 
	position: absolute; 
}
section {
	margin: 0px;
}
p {
	padding-left: 10px;
}
table {
	width: 50%;
}
.s {
	background-color: #4CB38C;
}
.l {
	text-align: left;
}
.secsplit {
	width: 46%;
	padding: 1%;
}
.secleft {
	float: left;
}
.secright {
	float: right;
}